@media (max-width: 1200px) {
    #mypic {
        width: 183px;
        height: 183px;
    }
}

@media (min-width: 992px) {
    #sideNav {
        display: none;
    }
}

@media (max-width: 500px) {
    .container {
        width: 100%;
        margin: 0 auto;
        padding: 10px 10px;
    }
}